.button{
	font-weight: bold !important;
	color: var(--color-darkgreen)
}
.button[data-color="green"]{
	color: var(--color-darkgreen)
}
.button[data-color="red"]{
	color: var(--color-red)
}
.button__contained[data-color="green"]{
	background-color: var(--color-darkgreen);
	color: var(--color-white);
}
.button__contained[data-color="red"]{
	background-color: var(--color-red);
	color: var(--color-white);
}